body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../image/background.jpg);
    /* background-image: url(../image/b.png); */
    /* background: #000; */

}
.container{
    border-radius: 3px;
    margin-left: 32.5%;
    margin-top: 30px;
    height: 700px;
    width: 500px;
    background: rgba(15, 15, 15, 0.463);
    box-shadow:  1px 1px 10px rgb(184, 181, 181);
}
.start{
    padding: 30px;
    padding-top: 260px;
    display: grid;
    justify-content: center;
}
.intro-text{
    color:rgb(255, 255, 255);
}
.logo-img{
    margin-left: 35%;
    width: 100px;
    height: 80px;
    
}

.btn{
    display: flex;
    justify-content: center;
}
button{
    height: 30px;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    margin: 5px;
}
.btn button{
    color: white;
    background: orangered;
    width: 150px;
}

/* login container  */

.container-login{
    display: none;
}
.logintop,.signintop{
    display: grid;
}
.login-intro,.signin-intro{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.backtostart{
    margin: 10px;
    width: 80px;
}
.login-intro,.signin-intro{
    margin:auto;
}
.input{
    display: grid;
    margin: 20px;
}
input{
    width: 90%;
    padding:10px;
    margin-left: 5%;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}
.forgetpw{
    color:rgb(186, 182, 182);
    font-size: 15px;
    margin-left: 69%;
}
.logsubmit{
    display: flex;
    justify-content: space-between;
    margin-right:45px;
    margin-left: 21px;
}
.signsubmit{
    display: flex;
    justify-content: space-between;
    margin-right:25px;
    margin-left: 2px;
}

.log-submit,.sign-submit,.log-reset,.sign-reset{
    font-size: 15px;
    width: 100px;
}

.log-submit,.sign-submit{
    background: teal;
}
.log-reset,.sign-reset{
    background: orange;
}
.container-signup{
    display: none;
}

.gender{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
label{
    color: white;
}
.message{
text-align: center;
line-height: 450px;
    color: aquamarine;
}


/* input[type=redio]{
    margin: 200px;
    
} */
