body{
    
background: #fff;
    color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-image: url(../image/bgg.png); */

    /* background: #000; */

}
/* .main-container{
    margin-left: 17%;
    width: 1000px;
    display: flex;
    margin-top: 50px;
} */
/* .containerimg{
    width: 50%;
    background-image: url(../image/bg2.png);
} */
.container{
    /* background-image: url(../image/bggg.png); */

    margin-top: 3%;
    margin-left: 32.5%;
    border-radius: 15px;
    height: 650px;
    width: 500px;
    background: #80cbc38c;
    border-left: 7px solid #B2DFDB;
    border-right: 7px solid #B2DFDB;
}
.start{
    padding: 30px;
    padding-top: 220px;
    display: grid;
    justify-content: center;
}
.intro-text{
    font-family:Verdana;
    color:rgb(255, 255, 255);
}
.logo-img{
    margin-left: 35%;
    width: 100px;
    height: 80px;
    
}

.btn{
    display: flex;
    justify-content: center;
}
button{
    height: 30px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
}
.btn button{
    color: white;
    background: #4DB6AC;
    border-bottom:3px solid #B2DFDB;
    /* border-top:3px solid #B2DFDB; */
    border-radius: 5px;
    width: 150px;
}

.logout{
    background:  #AFDCEC;
    margin: 10px;
    margin-left: 435px;
}

.logintop,.signintop{
    display: grid;
}
.login-intro,.signin-intro{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.backtostart{
    background:  #AFDCEC;
    margin: 10px;
    width: 80px;
}
.login-intro,.signin-intro{
    margin:auto;
}
.input{
    display: grid;
    margin: 20px;
}
input{
    background: rgba(165, 41, 41, 0.329);
    width: 90%;
    padding:10px;
    margin-left: 5%;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid #000;
}
::placeholder{
    font-size: 15px;
    color: white;
}
#passlog{
    margin-bottom: 0px;
}
.forgetpw{text-decoration: underline;
    color:rgb(34, 33, 33);
    font-size: 15px;
    margin-left: 66%;
}
.logsubmit{
    display: flex;
    justify-content: space-between;
    margin-right:45px;
    margin-left: 21px;
}
.signsubmit{
    display: flex;
    justify-content: space-between;
    margin-right:25px;
    margin-left: 2px;
}
.loginmessange{
    float: right;
    margin-right: 50px;
}
#messpass,
.loginmessange{
    margin-left: 25px;
    font-size: 14px;
    color: rgb(255, 5, 5);
    display: none;
}
.log-submit,.sign-submit,.log-reset,.sign-reset{
    font-size: 15px;
    width: 100px;
}

.log-submit,.sign-submit{
    background: teal;
}
.log-reset,.sign-reset{
    background: orange;
}

.gender{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
label{
    color: white;
}
.message{
    text-align: center;
    line-height: 650px;
    color: aquamarine;
}

.profileContainer{
    justify-content: center;
    text-align: center;
}
.name{
    justify-content: center;
}
#picture{
    margin-top: 10px;
    padding: 2px;
    background: rgb(245, 244, 244);
    border-radius: 40px;
}

.profileButtom{
    display: grid;
}
#oneuser{
    padding:2.5px 10px;
    display: flex;
    margin: 10px;
    background: rgb(203, 186, 186);
    border-radius: 3px 20px 20px 3px ;
    color:red;
}
#userpicture{
    padding: 2px;
    background: rgb(245, 244, 244);
    border-radius: 40px;
}
#username{
    margin-left: 20px;
    margin-top: 25px;
}
.name{
    display: flex;
}

.edittext,
.quote,
.remove{
    /* background-image: url(../image/quote.png); */
    /* margin-top: 3px; */
    margin: 3px;
    width: 15px;
    height:15px;
    cursor: pointer;
}

 .option{
    /* margin-top: 0px; */
    padding-top: 0px;
    width: 15px;
    height:15px;
    cursor: pointer;
 }
 .listoption{
     /* width: 20px;
     height: 50px; */
     background: rgba(145, 144, 144, 0.726);
     border-radius: 5px;
     /* margin-top:px; */
     /* padding:3px 15px; */
     /* margin: 5px; */
     padding: 5px;
     z-index: 1;
     position:absolute;
     display: none;
 }
.containchat-area{ 
    flex: 1;
    overflow-y: auto;
    width: 100%;
    height: 84%;
    background: rgba(199, 168, 168, 0.699);


}
#back{
    margin-left: 5px;
}
.chat-area{
    position:sticky;
    width: 100%;
    height: 100%;
    
}
#partnername{
    color:rgb(253, 251, 251);
    font-weight: bold;
}
#status{
    color: rgb(59, 184, 22);
    font-size: 12px;
}
.message-area{
    display: grid;
    width: 100%;
    height:10%;
    background: rgba(182, 231, 186, 0.856);
    /* display: flex; */
    align-items: center;
    justify-self: center;
    box-sizing: border-box;
}
.userinfo{
    display: flex;
    height: 6%;
}
.partner{
    width: 90%;
    display: grid;
    text-align: center;
}

#send-btn{
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px 0px 10px 0px ;
    width: 8%;
    box-sizing: border-box;
    display: block;
}
#edit-btn{
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px 0px 10px 0px ;
    width: 8%;
    box-sizing: border-box;
    display: none;
}
.containSpan{
    /* display:flex; */
    height: 20px;
    padding: 5px 0px 5px 0px ;
    width: 100%;
    margin-bottom: 5px;
    /* background: #000; */
}

.span{
    font-family: sans-serif;
    padding:4px 10px;
    margin: 0px 5px;
    box-sizing: border-box;
    color: #000;
    
}
#bold,#italic{
    padding:0px  10px;
    margin-top: 14.5px;
}
.listoption{
    display: none;
    
}
.quaotarea{
    display: none;
    background: rgb(226, 218, 218);
    width: 500px;
    height: 40px;
    /* margin-top: 42%; */
    border-bottom: 1px solid #000;
}
.sendarea{
    height: 100%;
    margin: 0;
    display: flex;
    background: rgb(187, 106, 106);
}
#text-area{
    margin-top: 16px;
    height: 30px;
    width: 90%;
    outline: none;
    border: none;
    background: rgba(97, 97, 97, 0.363);
    border-radius: 20px;
}
#textforquaot{
    padding:2px 10px;
    padding-left: 2px;
    margin: 0;
    font-size: 13px;
    /* border-right: 1px solid black; */
}
.qoutepart{
    /* position: absolute; */
    margin-top: 1.5px;
    border-radius: 3px;
    display: grid;
    background: rgba(218, 46, 46, 0.438);
}
.quotetop{
    display: flex;
    padding: 0px 5px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid black;
    background: rgb(218, 203, 203);
}
.quote-img{
    width: 8px;
    height: 8px;
}
.quotename{
    color: black;
    margin: 1.5px;
    /* margin-left: 5px; */
    font-size: 7px;
}
#quotetext{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    margin: 0px 5px;
    padding-right: 3px;
}